div.container {
  .container-name {
    margin: 40px;
  }
  img {
    width: 10rem;
  }
  .personal-detail {
    padding: 10px;
    .name {
      font-size: 1.65rem;
      font-weight: bold;
    }
    div{
        margin: 0 20px 0 0;
    }
  }
}

.instaBio {
  margin-top: 20px;
  // width: fit-content;
  
}

.btn {
  margin-left: 50px;
}

